.imgl-map-1 {
}
.imgl-map-1 .imgl-pin-1 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-1 .imgl-pin-1 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-2 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-1 .imgl-pin-2 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-3 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-1 .imgl-pin-3 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-4 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-1 .imgl-pin-4 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-5 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-1 .imgl-pin-5 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-6 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-1 .imgl-pin-6 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-7 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-1 .imgl-pin-7 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-8 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-1 .imgl-pin-8 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-9 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-1 .imgl-pin-9 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-10 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-1 .imgl-pin-10 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-11 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-1 .imgl-pin-11 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-12 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-1 .imgl-pin-12 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-13 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-1 .imgl-pin-13 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-14 .imgl-pin-data {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.imgl-map-1 .imgl-pin-14 .imgl-ico-wrap {
}
